*.zip
*.tar
*.tar.gz
*.whl
*.a
*.so
*.dll
*.class
*.jar
*.o
*.pyc
__pycache__/
.gradle/
.buildozer/
libs/
dist/
bin/
build/
venv/
.venv/
.framework-cache/
framework/**/.git/
Android/sdk/
Android/ndk/
